pkgbase = python-cadquery
	pkgdesc = A parametric CAD scripting framework based on PythonOCC
	pkgver = v2.6.0
	pkgrel = 1
	url = https://github.com/CadQuery/cadquery
	arch = any
	license = Apache-2.0
	checkdepends = python-pytest
	checkdepends = python-typing_extensions
	checkdepends = python-docutils
	checkdepends = python-mycdp
	checkdepends = ttf-liberation
	makedepends = git
	makedepends = python-setuptools-scm
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python-ocp
	depends = python-ezdxf
	depends = nlopt
	depends = python-typish
	depends = python-multimethod
	depends = python-docutils
	depends = python-pyparsing
	depends = python-trame
	depends = python-trame-vtk
	depends = casadi
	depends = openblas
	conflicts = python-cadquery-git
	source = git+https://github.com/CadQuery/cadquery#commit=#commit=18b15d6d86f202308bfc10a5d34cc0fc3f48bb6e
	source = occt79.patch
	source = use-pathlib.patch
	source = fix-gui-test.patch
	sha256sums = 865af5ac3bcc74a2249d194c6db70651fdc1f2a5310553539914d77396333f39
	sha256sums = 4d60cee6bf70d5eeaeb060e514d104969c1da7f30e7f4eb6d67c061e0debaa05
	sha256sums = 5c1c16d30303015cb7d8b4d52664061473ac05f5915ce3e31988654db3abf4ae
	sha256sums = 5bce824f9eb3b2defdea8600f8153c17be619abf7117013b5748402787751b7b

pkgname = python-cadquery
